 base;
 components;
 utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

 (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

 {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

 utilities {
  .text-balance {
    text-wrap: balance;
  }
}
